* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body{
    background-image: url(https://unsplash.com/photos/a-large-rock-formation-sitting-on-top-of-a-beach-next-to-the-ocean-fqT1AY-vvyo)
    background-size: cover;
    background-position: center;
    } I
    header {
    width: 100%;
    position: sticky;
    top:0;
    z-index: 1;
    background: transparent;
    }
    header .container{
    height:10vh;
    width: 100%;
    margin: 0 auto;
    padding:0 50px;
    }
    .logo {
    display: flex;
    a
    }abbr
    address
    area
    article
    }=aside
    .logo p{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        font-weight: 550;
        cursor: default;
        }
        a{
        text-decoration: none;
        color: white;
        }
        ul {
        display: flex;
        gap: 14px;
        list-style: none;
        }
        li{
        font-size: 20px;
        }
        nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px;
        }